<h3>Good <%= @daypart %>, <%= current_user.username %>. </h3>
<br>
<br>

<%= link_to "Customers", customers_path %>
<br>
<br>

<%= link_to "Products", products_path %>
<br>
<br>

<%= link_to "Orders", orders_path %>
<br>
<br>